body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

img {
  display: block;
  margin: 0 auto;
}

.recipe-item {
  border: 1px solid #333;
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

button a {
  text-decoration: none;
  color: #fff;
}

.recipe-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  width: 70%;
  margin: 10px auto;
}

p {
  text-align: center;
}